@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  background-color: white;
  color: green;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.dropdown:hover > .dropdown-menu{
  display: block;
  margin-top: 0px;
}

.dropdown-menu{
  border-top: 2px solid 151557 ;
}
.text-purple{
  color:green ;
}
.btn-purple{
  background-color: green ;
}
.logo{
  width: 28rem;
  height: 20rem;
  margin-bottom: 20px;
  border-bottom-right-radius: 50%;
}

.active1{
  border-bottom: 2px green !important;
}

.header{
    min-height: 450px;
    border-bottom-right-radius: 50%;
    background: rgba(180, 253, 191, 0.1);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /* background-color: rgb(41, 231, 41); */
   

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* footer */

.footer p {
	font-size: 14px;
}

.footer .container-fluid {
	background-color: black;
}

.footer .top-part {
	background-color: rgb(4, 105, 4);
}

.footer .center-content {
	margin-top: 120px;
	margin-bottom: 120px;
}

.footer .btn-pink {
	border-radius: 0;
	background-color: #FF4081;
	color: #fff !important;
	letter-spacing: 2px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.footer .btn-pink:hover {
	background-color: #F50057;
}

.footer .line {
	border-top: 1px solid #7B1FA2;
	width: 90% !important;
}

.footer .fa-mobile {
	font-size: 20px;
}

.footer #contact {
	font-size: 15px;
}

.footer .grey-text {
	color: lightgrey;
}



.video{
   width:100%;
  height: 315px;
}

@media (min-width: 576px) { 
  .video{
    width: 540px;
    height: 315px;
  }

 }


@media (min-width: 768px) {
  .video{
      width: 540px;
    height: 315px;
  }
  }

@media (min-width: 992px) { 

  .video{
    width: 540px;
    height: 315px;
  }
 }


@media (min-width: 1200px) { 
  .video{
    width: 540px;
    height: 315px;
  }
 }

@media (min-width: 1400px) {
  .video{
    width: 540px;
    height: 315px;
  }
  }